.DS_Store

# Directories managed by package managers
/elpa/
/straight/
/elpaca/
/packages/ # if you use package.el directly

# Compiled files and caches
/eln-cache/
*.elc
*.eld
*.~undo-tree~
auto-save-list
bookmarks
url-history
custom.el
tramp
transient
recentf
sessions
tmp
.cache
persp-confs
